<div class="main">
  <h1>My To Do List</h1>
  <h2>Projects</h2>

<!--  <ul>-->
<!--    <li *ngFor="let item of items">Project: {{item.projectName}} : {{item.description}} due date: {{item.date}} </li>-->
<!--  </ul>-->

  <app-user-operations></app-user-operations>>

  <input
    #newItem
    placeholder="add a project name"
    class="lg-text-input"
    id="addItemInput" />

  <input
    #newItem2
    placeholder="add a project description"
    class="lg-text-input"
    id="addItemInput2" />

  <input
    #newItem3
    placeholder="add a project due date"
    class="lg-text-input"
    id="addItemInput3" />

  <button class="btn-primary" (click)="addItem(newItem.value, newItem2.value, newItem3.value)">Add</button>
</div>
