<!--<link rel="stylesheet" href=-->
<!--  "https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0/css/bootstrap.min.css">-->
<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">-->
<!--<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>-->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<div class="topnav">
  <a routerLink="/home-component">Calender</a>
  <a class="active" >Projects</a>
  <a routerLink="/profile">Profile</a>
  <a (click)="authService.SignOut()">Sign Out</a>
</div>



<div class="row">
  <div class="d-flex justify-content-center align-items-center w-150 mx-auto">
    <!-- Add New Task card -->
    <div *ngIf="isPopupVisible" class="col-md-3">
      <div class="card my-4">
        <div class="card-header">
          <div class="row justify-content-between">
            <div class="col-10 d-flex">
              <h5>Add New Task</h5>
            </div>
            <div class="col-2 d-flex justify-content-end">
              <div class="btn-group">
                <button type="button" class="btn btn-default" (click)="closePopup()">
                  <i class="bi bi-x-lg" style="font-size: 17px;"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="main">
            <form>
              <div class="mb-3">
                <label for="addItemInput" class="form-label">Task Name</label>
                <input
                  #newItem
                  placeholder="Enter project name"
                  class="form-control"
                  id="addItemInput" />
              </div>

              <div class="mb-3">
                <label for="addItemInput2" class="form-label">Description</label>
                <input
                  #newItem2
                  placeholder="Enter description"
                  class="form-control"
                  id="addItemInput2" />
              </div>

              <div class="mb-3">
                <label for="addItemInput3" class="form-label">Due Date</label>
                <div class="mb-3">
                  <div class="input-group">
                    <input
                      #newItem3
                      class="form-control"
                      placeholder="yyyy-mm-dd"
                      name="dp"
                      [(ngModel)]="model"
                      ngbDatepicker
                      #d="ngbDatepicker"
                    />
                    <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
                  </div>
                </div>
              </div>

              <button type="button" class="btn btn-primary" (click)="addProject(newItem.value, newItem2.value, newItem3.value)">Add Task</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="isSubPopupVisible" class="col-md-3">
      <div class="card my-4">
        <div class="card-header">
          <div class="row justify-content-between">
            <div class="col-10 d-flex">
              <h5>Add Subtask</h5>
            </div>
            <div class="col-2 d-flex justify-content-end">
              <div class="btn-group">
                <button type="button" class="btn btn-default" (click)="closeSubTaskPopup()">
                  <i class="bi bi-x-lg" style="font-size: 17px;"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="main">
            Add a sub task here for new Task {{newProjectName}} ...
            <form>
              <div class="mb-3">
                <label for="addItemInput" class="form-label">Name of Sub Task</label>
                <input
                  #newItem
                  placeholder="Enter task name"
                  class="form-control"
                  id="addItemInput4" />
              </div>

              <div class="mb-3">
                <label for="addItemInput2" class="form-label">Description</label>
                <input
                  #newItem2
                  placeholder="Enter description"
                  class="form-control"
                  id="addItemInput5" />
              </div>

              <div class="mb-3">
                <label for="addItemInput3" class="form-label">Due Date</label>
                <div class="mb-3">
                  <div class="input-group">
                    <input
                      #newItem3
                      class="form-control"
                      placeholder="yyyy-mm-dd"
                      name="dp"
                      [(ngModel)]="model"
                      ngbDatepicker
                      #d="ngbDatepicker"
                    />
                    <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
                  </div>
                </div>
              </div>

              <button type="button" class="btn btn-primary" (click)="addTask(newItem.value, newItem2.value, newItem3.value)">Add Sub Task</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="isSubPopup2Visible" class="col-md-3">
      <div class="card my-4">
        <div class="card-header">
          <div class="row justify-content-between">
            <div class="col-10 d-flex">
              <h5>Add Subtask</h5>
            </div>
            <div class="col-2 d-flex justify-content-end">
              <div class="btn-group">
                <button type="button" class="btn btn-default" (click)="closeSubTaskPopup()">
                  <i class="bi bi-x-lg" style="font-size: 17px;"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="main">
            Add a sub task of Task {{newProjectName}} ...
            <form>
              <div class="mb-3">
                <label for="addItemInput" class="form-label">Name of Sub Task</label>
                <input
                  #newItem
                  placeholder="Enter task name"
                  class="form-control"
                  id="addItemInput7" />
              </div>

              <div class="mb-3">
                <label for="addItemInput2" class="form-label">Description</label>
                <input
                  #newItem2
                  placeholder="Enter description"
                  class="form-control"
                  id="addItemInput8" />
              </div>

              <div class="mb-3">
                <div class="input-group">
                  <input
                    #newItem3
                    class="form-control"
                    placeholder="yyyy-mm-dd"
                    name="dp"
                    [(ngModel)]="model"
                    ngbDatepicker
                    #d="ngbDatepicker"
                  />
                  <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
                </div>
              </div>

              <button type="button" class="btn btn-primary" (click)="addTask(newItem.value, newItem2.value, newItem3.value)">Add Sub Task</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- My Tasks card -->
    <div class="col-md-8">
      <div class="card mx-auto my-4 w-75">
        <div class="card-header">
          <div class="row justify-content-between">
            <div class="col-10 d-flex">
              <h4>My Tasks</h4>
            </div>
            <div class="col-2 d-flex justify-content-end">
              <div class="btn-group">
                <button type="button" class="btn btn-default" (click)="showPopup()">
                  <i class="bi bi-plus-circle" style="font-size: 20px;"></i>
                </button>
                <button type="button" class="btn btn-default" (click)="sortTasksByDueDate()">
                  <i class="bi bi-funnel" style="font-size: 20px;"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <ul class="list-group">
              <!-- My Tasks card body content -->
              <li class="list-group-item" *ngFor="let project of arrayProjects.slice(1); let i = index" (click)="setActiveUser(project, i)">
                <div class="row align-items-center justify-content-between" style="color: pink">
                  <div class="col-8">
                    <h5>{{project.projectName}}</h5>
                  </div>
                  <div class="col-4 d-flex justify-content-end">
                    <div class="btn-group">
                      <button type="button" class="btn btn-default" (click)="showSubTask2Popup(project.projectName)">
                        <i class="bi bi-plus-circle" style="font-size: 15px;"></i>
                      </button>
                      <div *ngIf="!project.flagged; else flagged">
                        <button type="button" class="btn btn-default" (click)="updateTaskFlaggedStatus(project.projectName, true)">
                          <i class="bi bi-star" style="font-size: 15px;"></i>
                        </button>
                      </div>
                      <ng-template #flagged>
                        <button type="button" class="btn btn-default" (click)="updateTaskFlaggedStatus(project.projectName, false)">
                          <i class="bi bi-star" style="font-size: 15px; color: pink"></i>
                        </button>
                      </ng-template>
                      <div *ngIf="!project.completed; else completed">
                        <div class="button-wrapper">
                          <button type="button" class="btn btn-default confetti-button" (click)="updateTaskCompletedStatus(project.projectName, true); confetti()">
                            <i class="bi bi-check2-circle" style="font-size: 15px;"></i>
                          </button>
                        </div>
                      </div>
                      <ng-template #completed>
                        <button type="button" class="btn btn-default" (click)="updateTaskCompletedStatus(project.projectName, false)">
                          <i class="bi bi-check2-circle" style="font-size: 15px; color: pink"></i>
                        </button>
                      </ng-template>
                      <button type="button" class="btn btn-default" (click)="deleteTask(project.projectName)">
                        <i class="bi bi-trash3" style="font-size: 15px;"></i>
                      </button>
                    </div>
                  </div>
                </div>
                {{project.description}}
                <ul>
                  <li *ngFor="let task of project.tasks">{{ task.taskName }} {{ task.description }}</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--<div class="dropdown d-inline-block">-->
<!--  <button class="btn btn-default dropdown-toggle" type="button" id="sortDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--    <i class="bi bi-funnel" style="font-size: 20px;"></i>-->
<!--  </button>-->
<!--  <ul class="dropdown-menu" aria-labelledby="sortDropdown">-->
<!--    <li><button class="dropdown-item" (click)="sortTasksByCompleted()">Sort by Completed</button></li>-->
<!--    <li><button class="dropdown-item" (click)="sortTasksByImportance()">Sort by Importance</button></li>-->
<!--    <li><button class="dropdown-item" (click)="sortTasksByDueDate()">Sort by Date</button></li>-->
<!--  </ul>-->
<!--</div>-->

<!-- Get all users -->
<!--<div class="row">-->
<!--  <div class="d-flex justify-content-center align-items-center w-150 mx-auto" >-->
<!--    <div class="card my-4 w-75">-->
<!--      <div class="card-header">-->
<!--        <div class="row justify-content-between">-->
<!--          <div class="col-10 d-flex">-->
<!--            <h4>My Tasks</h4>-->
<!--          </div>-->
<!--          <div class="col-2 d-flex">-->
<!--            <button type="button" class="btn btn-default" (click)="showPopup()">-->
<!--              <i class="bi bi-plus-circle" style="font-size: 20px;"></i>-->
<!--            </button>-->
<!--            <button type="button" class="btn btn-default">-->
<!--              <i class="bi bi-funnel" style="font-size: 20px;"></i>-->
<!--            </button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="card">-->
<!--        <div class="card-body">-->
<!--          <ul class="list-group">-->
<!--            <li class="list-group-item" *ngFor="let project of arrayProjects.slice(1); let i = index" [class.active]="i == currentIndex" (click)="setActiveUser(project, i)">-->
<!--              <div class="row align-items-center justify-content-between">-->
<!--                <div class="col-8">-->
<!--                  <h5>{{project.projectName}}</h5>-->
<!--                </div>-->
<!--                <div class="col-4 d-flex justify-content-end">-->
<!--                  <div class="btn-group">-->
<!--                    <button type="button" class="btn btn-default">-->
<!--                      <i class="bi bi-plus-circle" style="font-size: 15px;"></i>-->
<!--                    </button>-->
<!--                    <button type="button" class="btn btn-default">-->
<!--                      <i class="bi bi-star" style="font-size: 15px;"></i>-->
<!--                    </button>-->
<!--                    <button type="button" class="btn btn-default">-->
<!--                      <i class="bi bi-check2-circle" style="font-size: 15px;"></i>-->
<!--                    </button>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              {{project.description}} {{project.completed}}-->
<!--              <ul>-->
<!--                <li *ngFor="let task of project.tasks">{{ task.taskName }} {{ task.description }} {{task.completed}}</li>-->
<!--              </ul>-->
<!--            </li>-->
<!--         </ul>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--      <div *ngIf="isPopupVisible">-->
<!--        <div class="d-flex justify-content-center align-items-center w-150 mx-auto" >-->
<!--          <div class="card my-4 w-75">-->
<!--            <div class="card-header">-->
<!--              <h5>   Add New Task</h5>-->
<!--            </div>-->

<!--            <div class="card-body">-->
<!--              <div class="main">-->
<!--                <input-->
<!--                  #newItem-->
<!--                  placeholder="project name"-->
<!--                  class="lg-text-input"-->
<!--                  id="addItemInput" />-->

<!--                <input-->
<!--                  #newItem2-->
<!--                  placeholder="description"-->
<!--                  class="lg-text-input"-->
<!--                  id="addItemInput2" />-->

<!--                <input-->
<!--                  #newItem3-->
<!--                  placeholder="due date"-->
<!--                  class="lg-text-input"-->
<!--                  id="addItemInput3" />-->

<!--                <button class="btn-primary" (click)="addProject(newItem.value, newItem2.value, newItem3.value)">Add Task</button>-->

<!--              <h5>   Add Tasks</h5>-->

<!--              <input-->
<!--                #newTaskProjectName-->
<!--                placeholder="add a project name"-->
<!--                class="lg-text-input"-->
<!--                id="addTaskInput" />-->

<!--              <input-->
<!--                #newTaskName-->
<!--                placeholder="add a taskName"-->
<!--                class="lg-text-input"-->
<!--                id="addTaskInput2" />-->

<!--              <input-->
<!--                #newTaskDescription-->
<!--                placeholder="add a description"-->
<!--                class="lg-text-input"-->
<!--                id="addTaskInput3" />-->

<!--              <button class="btn-primary" (click)="addTask(newTaskProjectName.value, newTaskName.value, newTaskDescription.value)">Add Task</button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--</div>-->



  <!--  <div *ngIf="currentUser2">-->
  <!--    <app-user-operations-->
  <!--      (refreshList)="refreshList()"-->
  <!--      [user]="currentUser2"-->
  <!--    ></app-user-operations>-->
  <!--  </div>-->



<!--<div class="main">-->
<!--  <h1>My To Do List</h1>-->
<!--  <h2>Projects</h2>-->

<!--&lt;!&ndash;  <ul>&ndash;&gt;-->
<!--&lt;!&ndash;    <li *ngFor="let item of items">Project: {{item.projectName}} : {{item.description}} due date: {{item.date}} </li>&ndash;&gt;-->
<!--&lt;!&ndash;  </ul>&ndash;&gt;-->

<!--  <app-user-operations></app-user-operations>>-->

<!--  <input-->
<!--    #newItem-->
<!--    placeholder="add a project name"-->
<!--    class="lg-text-input"-->
<!--    id="addItemInput" />-->

<!--  <input-->
<!--    #newItem2-->
<!--    placeholder="add a project description"-->
<!--    class="lg-text-input"-->
<!--    id="addItemInput2" />-->

<!--  <input-->
<!--    #newItem3-->
<!--    placeholder="add a project due date"-->
<!--    class="lg-text-input"-->
<!--    id="addItemInput3" />-->

<!--  <button class="btn-primary" (click)="addItem(newItem.value, newItem2.value, newItem3.value)">Add</button>-->
<!--</div>-->
