<link rel="stylesheet" href=
  "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">


<div class="container-fluid ps-md-0">
  <div class="row g-0">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <div class="authBlock">
                <h3 class="login-heading mb-4">Sign up now!</h3>

                <div class="form-floating mb-3">
                  <label for="floatingInput">Email address</label>
                  <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" #userEmail required>
                </div>
                <div class="form-floating mb-3">
                  <label for="floatingPassword">Password</label>
                  <input type="password" class="form-control" id="floatingPassword" placeholder="Password" #userPwd required>
                </div>
                <div class="formGroup">
                  <input type="button" class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" value="Sign Up" (click)="authService.SignUp(userEmail.value, userPwd.value)">
                </div>

                <div class="d-grid">
                  <div class="text-center">
                    <div class="redirectToLogin">
                      <span>Already have an account?<span class="redirect" routerLink="/sign-in"> Sign In Here</span></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<link rel="stylesheet" href=-->
<!--  "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">-->


<!--<div class="displayTable">-->
<!--  <div class="displayTableCell">-->
<!--    <div class="authBlock">-->
<!--      <h3>Sign Up</h3>-->
<!--      <div class="formGroup">-->
<!--        <input-->
<!--          type="email"-->
<!--          class="formControl"-->
<!--          placeholder="Email Address"-->
<!--          #userEmail-->
<!--          required-->
<!--        />-->
<!--      </div>-->
<!--      <div class="formGroup">-->
<!--        <input-->
<!--          type="password"-->
<!--          class="formControl"-->
<!--          placeholder="Password"-->
<!--          #userPwd-->
<!--          required-->
<!--        />-->
<!--      </div>-->
<!--      <div class="formGroup">-->
<!--        <input-->
<!--          type="button"-->
<!--          class="btn btnPrimary"-->
<!--          value="Sign Up"-->
<!--          (click)="authService.SignUp(userEmail.value, userPwd.value)"-->
<!--        />-->
<!--      </div>-->
<!--      <div class="formGroup">-->
<!--        <span class="or"><span class="orInner">Or</span></span>-->
<!--      </div>-->
<!--      &lt;!&ndash; Continue with Google &ndash;&gt;-->
<!--      <div class="formGroup">-->
<!--        <button-->
<!--          type="button"-->
<!--          class="btn googleBtn"-->
<!--          (click)="authService.GoogleAuth()"-->
<!--        >-->
<!--          <i class="fab fa-google-plus-g"></i>-->
<!--          Continue with Google-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="redirectToLogin">-->
<!--      <span-->
<!--      >Already have an account?-->
<!--        <span class="redirect" routerLink="/sign-in">Log In</span></span-->
<!--      >-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<!--&lt;!&ndash;<div class="container-fluid ps-md-0">&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="row g-0">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="col-md-8 col-lg-6">&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="login d-flex align-items-center py-5">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="container">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="col-md-9 col-lg-8 mx-auto">&ndash;&gt;-->
<!--&lt;!&ndash;              <h3 class="login-heading mb-4">Sign Up</h3>&ndash;&gt;-->

<!--&lt;!&ndash;              &lt;!&ndash; Sign In Form &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="form-floating mb-3">&ndash;&gt;-->
<!--&lt;!&ndash;                  <label for="floatingInput">Email address</label>&ndash;&gt;-->
<!--&lt;!&ndash;                  <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"  id="inputEmail">&ndash;&gt;-->
<!--&lt;!&ndash;                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div *ngIf="f.email.errors.required">Email is required</div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="form-floating mb-3">&ndash;&gt;-->
<!--&lt;!&ndash;                  <label for="floatingInput">Account Type</label>&ndash;&gt;-->
<!--&lt;!&ndash;                  <input type="email" class="form-control" id="floatingType" placeholder="name@example.com" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"  id="accountType">&ndash;&gt;-->
<!--&lt;!&ndash;                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div *ngIf="f.email.errors.required">Email is required</div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="form-floating mb-3">&ndash;&gt;-->
<!--&lt;!&ndash;                  <label for="floatingPassword">Password</label>&ndash;&gt;-->
<!--&lt;!&ndash;                  <input type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="password"[ngClass]="{ 'is-invalid': submitted && f.password.errors }" id="inputPassword">&ndash;&gt;-->
<!--&lt;!&ndash;                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div *ngIf="f.password.errors.required">Password is required</div>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="form-floating mb-3">&ndash;&gt;-->
<!--&lt;!&ndash;                  <label for="floatingPassword">Confirm Password</label>&ndash;&gt;-->
<!--&lt;!&ndash;                  <input type="password" class="form-control" id="floatingPasswordConfirmation" placeholder="Password" formControlName="password"[ngClass]="{ 'is-invalid': submitted && f.password.errors }" id="inputPassword1">&ndash;&gt;-->
<!--&lt;!&ndash;                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div *ngIf="f.password.errors.required">Password is required</div>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->

<!--&lt;!&ndash;                <div class="form-check mb-3">&ndash;&gt;-->
<!--&lt;!&ndash;                  <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">&ndash;&gt;-->
<!--&lt;!&ndash;                  <label class="form-check-label" for="rememberPasswordCheck">&ndash;&gt;-->
<!--&lt;!&ndash;                    Remember password&ndash;&gt;-->
<!--&lt;!&ndash;                  </label>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->

<!--&lt;!&ndash;                <div class="d-grid">&ndash;&gt;-->
<!--&lt;!&ndash;                  <a routerLink="/home-component" routerLinkActive="active" ><button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" type="submit">Create</button></a>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;              </form>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash; * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash; * * * * * * * * * * * The content above * * * * * * * * * * * &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash; * * * * * * * * * * is only a placeholder * * * * * * * * * * &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash; * * * * * * * * * * and can be replaced. * * * * * * * * * * * &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash; * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash; * * * * * * * * * * End of Placeholder * * * * * * * * * * * &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash; * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * &ndash;&gt;&ndash;&gt;-->


