<link rel="stylesheet" href=
  "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<div class="topnav">
  <a style="font-size: 35px;" >scheduleIt</a>
  <a class="active" >Calender</a>
  <a routerLink="/project-list" >Tasks</a>
  <a routerLink="/profile">Profile</a>
  <a (click)="authService.SignOut()">Sign Out</a>
</div>

<div class="row justify-content-center">
  <div class="col-md-2">
    <div class="card mx-auto my-4">
      <div class="card-header">
        <h5> Schedule Task </h5>
      </div>
      <div class="card-body">
        <select [(ngModel)]="selectedProject" (ngModelChange)="taskSelected=true" class="custom-select">
          <option value="" disabled selected>Select task</option>
          <option *ngFor="let task of taskArray" [value]="task.taskName">{{ task.taskName }}</option>
        </select>
        <br>
        <br>
        <div *ngIf="taskSelected">
          <h6>Click date on calendar to schedule ...</h6>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-9">
    <div class="card mx-auto my-4 w-95">
      <div class="card-body">
        <div *ngIf="calendarVisible">
          <full-calendar #calendar [options]="calendarOptions" *ngIf="calendarOptionsUpdated"></full-calendar>
        </div>
      </div>
    </div>
  </div>
</div>
